In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("analise.xls", encoding='ISO-8859-1')
df

      Student_ID              Name        Date  Present
0            109        João Sousa  2024-01-14        1
1            103   Daniel Ferreira  2024-01-23        1
2            113   Nicolau Barbosa  2024-01-18        1
3            113   Nicolau Barbosa  2024-01-30        0
4            113   Nicolau Barbosa  2024-01-18        0
...          ...               ...         ...      ...
1995         104     Eduarda Costa  2024-01-18        0
1996         113   Nicolau Barbosa  2024-01-18        0
1997         116  Ricardo Nogueira  2024-01-15        0
1998         102      Carla Santos  2024-01-29        0
1999         103   Daniel Ferreira  2024-01-22        1

[2000 rows x 4 columns]

In [3]:
def Merge_sort(df_data, column="Date", ascending=True):
    if len(df_data) < 2:
        return df_data
    
    # Divide
    meio = len(df_data) // 2
    S1 = Merge_sort(df_data.iloc[:meio], column, ascending)
    S2 = Merge_sort(df_data.iloc[meio:], column, ascending)

    # Compare function
    comparar = (lambda x, y: x < y) if ascending else (lambda x, y: x > y)

    # Merge efficiently using lists
    i = j = 0
    resultado = []

    while i < len(S1) and j < len(S2):
        if comparar(S1.iloc[i][column], S2.iloc[j][column]):
            resultado.append(S1.iloc[i])
            i += 1
        else:
            resultado.append(S2.iloc[j])
            j += 1

    # Append the remaining elements
    while i < len(S1):
        resultado.append(S1.iloc[i])
        i += 1
    while j < len(S2):
        resultado.append(S2.iloc[j])
        j += 1

    # Convert list back to DataFrame
    resultado = pd.DataFrame(resultado, columns=df_data.columns)
    export_df(resultado,"Attendancequic.csv")
    return pd.DataFrame(resultado, columns=df_data.columns)

In [4]:
def quicksort(df, column="Date")
Column = "Date"
Valores = df.loc[:,Column]
Pivot_index = len(df)-1
Pivot_valor = df.loc[Pivot_index,Column]
#Ponteiro que analisa se é menro que o pivot
Ponteiro_inicial_index = 0
Ponteiro_inicial_valor = df.loc[Ponteiro_inicial_index,Column]
# Ponteiro que analisa se é maior que o pivot
Ponteiro_final_index = Pivot_index - 1
Ponteiro_final_valor = df.loc[Ponteiro_final_index,Column]
menores = df.iloc[Pivot_valor>
    while Ponteiro_final_valor > Pivot_valor:
        Ponteiro_final_index -=1
    if (Ponteiro_inicial_valor == Ponteiro_final_valor):
        Ponteiro_final_valor, Ponteiro_inicial_valor = Ponteiro_inicial_valor, Ponteiro_final_valor
    return pd.concat([quicksort(menores, column), iguais, quicksort(maiores, column)])

SyntaxError: expected ':' (3306590563.py, line 1)