In [9]:
import pandas as pd
import matplotlib.pyplot as plt
# The code to install the required library

# Importing seaborn and reading the Excel file
import seaborn as sns
df = pd.read_excel("analise.xlsx")
df

,Categoria,Cliente_ID,Consumo_Agua_Litros,Consumo_Energia_kWh,Custo_Produção,Data_Compra,Data_Receção,Emissao_Gases_CO2e_kg,Fabricante,País_Fabricante,Preço_Unitário,Produto,Produto_ID,Quantidade_Vendida,Região_Fabricante
0,Alimentos,734201,0.32,0.86,0.50,2023-03-03 00:00:00,2023-03-10 00:00:00,3.61,StyleSupplies,França,2.83,Água 2,26,7,Paris
1,Alimentos,544514,0.33,0.58,0.51,2023-09-23 01:00:00,2023-09-27 01:00:00,2.62,StyleSupplies,França,4.96,Bolachas 3,36,1,Marselha
2,Alimentos,593804,0.33,0.58,0.51,2023-07-07 01:00:00,2023-07-18 01:00:00,2.62,StyleSupplies,França,4.96,Bolachas 3,36,2,Marselha
3,Alimentos,580130,0.44,0.27,0.52,2023-10-06 01:00:00,2023-10-12 01:00:00,9.94,GreenSupplies,Alemanha,3.21,Chocolate 1,31,10,Munique
4,Alimentos,496597,0.22,0.34,0.52,2023-09-16 01:00:00,2023-09-17 01:00:00,8.11,GreenSupplies,Portugal,1.23,Bolachas 1,34,2,Porto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10669,Casa,491792,27.06,46.67,99.81,2023-09-12 01:00:00,2023-09-14 01:00:00,4.86,GreenSupplies,Portugal,131.09,Panelas 3,39,8,Faro
10670,Casa,918737,27.06,46.67,99.81,2023-08-21 01:00:00,2023-09-02 01:00:00,4.86,GreenSupplies,Portugal,131.09,Panelas 3,39,1,Faro
10671,Casa,425173,27.06,46.67,99.81,2023-03-31 01:00:00,2023-04-04 01:00:00,4.86,GreenSupplies,Portugal,131.09,Panelas 3,39,1,Faro
10672,Moda,552004,6.64,22.28,99.96,2023-08-11 01:00:00,2023-08-23 01:00:00,1.99,EcoFriendly,França,120.91,Vestido 3,24,8,Lyon
10673,Moda,969602,6.64,22.28,99.96,2023-01-12 00:00:00,2023-01-13 00:00:00,1.99,EcoFriendly,França,120.91,Vestido 3,24,1,Lyon

Estatisticas descritivas

In [ ]:
print(df.describe(include='all'))

Estatísticas descritivas:
       Categoria     Cliente_ID  Consumo_Agua_Litros  Consumo_Energia_kWh  \
count      10674   10674.000000         10674.000000         10674.000000
unique         5            NaN                  NaN                  NaN
top         Casa            NaN                  NaN                  NaN
freq        2842            NaN                  NaN                  NaN
mean         NaN  538627.035694            13.366726            69.442095
min          NaN  100042.000000             0.100000             0.100000
25%          NaN  318141.000000             2.150000             4.872500
50%          NaN  531972.000000             5.130000            12.500000
75%          NaN  760661.000000            13.240000            32.487500
max          NaN  999816.000000            99.700000           798.420000
std          NaN  256528.515620            19.814236           145.521796

        Custo_Produção                    Data_Compra  \
count     10674.000000                          10674
unique             NaN                            NaN
top                NaN                            NaN
freq               NaN                            NaN
mean        118.902020  2023-05-30 11:35:01.180438272
min           0.500000            2023-01-01 00:00:00
25%          12.080000            2023-03-17 00:00:00
50%          42.180000            2023-05-31 01:00:00
75%         103.317500            2023-08-13 01:00:00
max         896.540000            2023-10-28 01:00:00
std         190.454787                            NaN

                         Data_Receção  Emissao_Gases_CO2e_kg   Fabricante  \
count                           10674           10674.000000        10674
unique                            NaN                    NaN            5
top                               NaN                    NaN  EcoFriendly
freq                              NaN                    NaN         2160
mean    2023-06-07 11:02:34.468802560               5.036923          NaN
min               2023-01-02 00:00:00               0.100000          NaN
25%               2023-03-25 00:00:00               2.510000          NaN
50%               2023-06-07 13:00:00               5.020000          NaN
75%               2023-08-22 01:00:00               7.560000          NaN
max               2023-11-12 00:00:00              10.000000          NaN
std                               NaN               2.882551          NaN

       País_Fabricante  Preço_Unitário    Produto    Produto_ID  \
count            10674    10674.000000      10674  10674.000000
unique               5             NaN         66           NaN
top           Alemanha             NaN  Vestido 1           NaN
freq              2175             NaN        194           NaN
mean               NaN      243.079111        NaN     33.496534
min                NaN        1.000000        NaN      1.000000
25%                NaN       26.310000        NaN     17.000000
50%                NaN       92.425000        NaN     33.000000
75%                NaN      208.247500        NaN     50.000000
max                NaN     1992.740000        NaN     66.000000
std                NaN      385.466868        NaN     19.182712

        Quantidade_Vendida Região_Fabricante
count          10674.00000             10674
unique                 NaN                16
top                    NaN          Hamburgo
freq                   NaN               741
mean               5.50178               NaN
min                1.00000               NaN
25%                3.00000               NaN
50%                5.00000               NaN
75%                8.00000               NaN
max               10.00000               NaN
std                2.86889               NaN

In [11]:
# Verificar valores nulos
print("\nValores nulos por coluna:")
print(df.isnull().sum())

Valores nulos por coluna:
Categoria                0
Cliente_ID               0
Consumo_Agua_Litros      0
Consumo_Energia_kWh      0
Custo_Produção           0
Data_Compra              0
Data_Receção             0
Emissao_Gases_CO2e_kg    0
Fabricante               0
País_Fabricante          0
Preço_Unitário           0
Produto                  0
Produto_ID               0
Quantidade_Vendida       0
Região_Fabricante        0
dtype: int64

In [ ]:

# Verificar valores nulos
print("\nValores nulos por coluna:")
print(df.isnull().sum())

# Distribuição de categorias
print("\nDistribuição de categorias:")
print(df['Categoria'].value_counts())

plt.figure(figsize=(10, 6))
sns.boxplot(data=df, x='Categoria', y='Quantidade_Vendida')
plt.title('Distribuição de Quantidade Vendida por Categoria')
plt.xticks(rotation=45)
plt.show()

# Correlação entre variáveis numéricas
print("\nCorrelação entre variáveis numéricas:")
print(df.corr())

# Visualização: Mapa de calor de correlação
plt.figure(figsize=(10, 6))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Mapa de Calor de Correlação')
plt.show()